*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style-type: none;
  display: inline;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #6070ff;
  background: #fff;
  font-size: 1.7rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #7f8cff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  border: none;
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px #4053fc3d;
}

button:active {
  border: none;
  background: #2230d2;
  color: #fff;
}

button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

i {
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 12px 24px;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  color: #6070ff;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.logo:hover {
  color: #4151ff;
}

.logo:active {
  color: #2230d2;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18px;
  padding-right: 6px;
  cursor: pointer;
}

.menu-btn div {
  width: 18px;
  height: 2px;
  background: #6070ff;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.menu-btn:hover div {
  background: #4151ff;
}

.menu-btn:active div {
  background: #2230d2;
}

.fab {
  font-size: 2.2rem;
  margin-right: 16px;
  color: #505f79;
  transition: color 0.2s ease;
}

.fab:hover {
  color: #4151ff;
}

.fab:active {
  color: #2230d2;
}

.social-media-container {
  cursor: pointer;
}

.works-container {
  display: flex;
  flex-direction: column;
  margin: 120px 5% 32px 5%;
}

.work-card {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-bottom: 88px;
}

.work-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.work-card-data {
  display: flex;
  flex-direction: column;
}

.work-card-tittle {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #172b4d;
  margin: 12px 0;
}

.work-card-info {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 12px;
}

.work-card .circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.work-card-info h3,
.work-card-info span,
.work-card-info h4 {
  margin-right: 12px;
}

.work-card-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #344563;
  text-transform: uppercase;
}

.work-card-info h4 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
}

.work-card-description {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #344563;
  margin-bottom: 12px;
}

.work-card-tags {
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.work-card-tags .tag {
  display: block;
  background: #ebebff;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

#about-myself {
  background: #fff;
  padding: 114px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 6rem;
}

.about-myself-top {
  margin-bottom: 24px;
}

.about-myself-top h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.about-myself-top p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

#about-myself-social-media {
  margin-bottom: 12px;
}

.about-myself-skill-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-list-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 72px;
  cursor: pointer;
}

.skill-list-menu h2 {
  font-size: 2rem;
  color: #000;
  line-height: 24px;
  font-weight: 500;
}

.skill-list-menu i {
  color: #5e6c84;
  font-size: 1.6rem;
  margin-right: 12px;
}

.skill-list-modifier-close {
  border-bottom: 1px solid #dfe1e6;
}

.skill-list-menu-open-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.skill-list-menu-open li {
  width: 100%;
  background: #f7f7f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.skill-icon {
  flex: 0 1 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.skill-icon-javascript {
  background: #f7f7f9 url(../media/icon-javascript.png) 50% no-repeat;
}

.skill-icon-html {
  background: #f7f7f9 url(../media/icon-html5.png) 50% no-repeat;
}

.skill-icon-css {
  background: #f7f7f9 url(../media/icon-css3.png) 50% no-repeat;
}

.skill-list-menu-open p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
}

.contact-me-form {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 5%;
  border-top-left-radius: 6rem;
  background: #6070ff url(../media/contact-form-shapes-mobile.svg) 150% -50% no-repeat;
}

.contact-me-form h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 52px;
  color: #fff;
  align-self: center;
  margin-bottom: 10px;
}

.contact-me-form p {
  font-size: 2rem;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  align-self: center;
  margin-bottom: 24px;
}

.form-input-box {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 24px;
  padding: 15px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.form-input-box-area {
  height: 170px;
}

.contact-me-form input:focus,
.contact-me-form textarea:focus {
  border: 1px solid #172b4d;
}

.contact-me-form input:focus-visible,
.contact-me-form textarea:focus-visible {
  outline: none;
}

.contact-me-form input::placeholder,
.contact-me-form textarea::placeholder {
  font-size: 1.5rem;
  line-height: 24px;
  color: #b3bac5;
}

.form-button:hover {
  background: #172b4d;
}

#introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff url(../media/header-shapes-mobile.png) 50% 50% no-repeat;
  border-bottom-left-radius: 6rem;
  padding: 0 24px;
}

#introduction h1 {
  color: #172b4d;
  font-size: 4rem;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 24px;
}

#introduction p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #344563;
  margin-bottom: 2rem;
}

#introduction h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 1rem;
}

#about-myself-social-media h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 10px;
}

#contact-me {
  background: #fff;
}

@media (max-width: 767px) {
  .menu-list {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  header {
    padding: 20px 12%;
  }

  .menu-list li {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left: 32px;
    color: #344563;
    transition: color 0.2s ease;
  }

  .fab {
    font-size: 2.6rem;
  }

  .work-card {
    flex-direction: row;
    padding: 3%;
    align-items: center;
    justify-content: space-evenly;
  }

  .work-card-pair {
    flex-direction: row-reverse;
  }

  .work-card img {
    width: 40%;
    height: auto;
    margin-right: 22px;
    margin-bottom: 0;
  }

  .work-card-data {
    padding: 24px;
    align-self: flex-start;
  }

  .work-card-info {
    margin-bottom: 24px;
  }

  .work-card-description {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }

  .about-myself-top {
    flex: 0 1 35%;
  }

  .about-myself-top h1,
  .about-myself-top p,
  .about-myself-top .fab {
    margin-bottom: 24px;
  }

  .about-myself-skill-list {
    flex: 0 1 55%;
  }

  .skill-list-menu-open-list {
    flex-direction: row;
    justify-content: flex-start;
  }

  .skill-list-menu-open li {
    max-width: 125px;
    margin-right: 12px;
    flex-direction: column;
  }

  .skill-icon {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .contact-me-form {
    padding: 50px 15%;
    align-items: center;
    background: #6070ff url(../media/contact-form-bg-desktop.png) 50% 50% no-repeat;
  }

  .contact-me-form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 450px;
  }

  .contact-me-form li {
    display: block;
    width: 100%;
  }

  .form-input-box {
    border-radius: 0;
  }

  .form-button {
    margin: 0 auto;
  }

  #introduction {
    padding: 0 20%;
    border-bottom-left-radius: 12rem;
    background: #fff url(../media/header-bg.png) 50% 50% no-repeat;
  }

  #introduction h1 {
    font-size: 4.8rem;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  #introduction p {
    font-size: 2rem;
    line-height: 28px;
  }

  #about-myself {
    flex-direction: row;
    padding: 114px 10%;
    justify-content: space-between;
    align-content: center;
  }

  .menu-list li:hover {
    color: #4151ff;
  }

  .menu-list li:active {
    color: #2230d2;
  }
}

@media (min-width: 1200px) {
  .work-card-tittle {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .work-card-info h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  .contact-me-form {
    padding: 50px 30%;
  }

  .work-card-info h4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  #introduction {
    background: #fff url(../media/header-bg.png) 50% 50% no-repeat;
  }

  #introduction p {
    max-width: 90%;
  }
}

@keyframes background-rotation {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(15deg);
  }
}
